@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(image/pexels-daniel-dan-47825192-7676164.jpg) no-repeat;
    background-size: cover;                
}

.container{
   /* background-color: green;*/
    width: 420px;
    border:2px solid rgb(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgb(0,0,0, 0.1);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(15px);
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.container .input-box{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 30px 0px;
}

.input-box input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border:2px solid rgb(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box::placeholder{
    color: #ffff;
}

.container .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin:-15px 0px 15px;
}

.remember-forgot label input{
    color: #ffff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.container .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border:none;
    outline:none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    box-decoration-break: 0px 0px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.container .register-link{
    text-align: center;
    font-size: 14.5px;
    margin:20px 0px 20px;
}

.register-link p a{
    color:#fff;
    text-decoration: none;
}

.register-link a:hover{
    text-decoration:underline
}